<dir class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Obcaecati corporis eveniet modi ab odit vel quasi iste totam officia, ipsa quisquam quibusdam officiis veniam. Quisquam ullam quasi voluptatum adipisci in.</p>
    </div>
</dir>