<dir class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>This is a full project to saved personal notes. It has many features:</p>
        <ul>
            <li>Login</li>
            <li>Signup</li>
            <li>Create Notes</li>
            <li>Edit Notes</li>
            <li>Delete Notes</li>
        </ul>
        <p>Running on Node.js</p>
        <ul>
            <li>Express (Endpoints)</li>
            <li>Express-handlebars (Frontend)</li>
            <li>MongoDB (Database)</li>
            <li>Mongoose (Data modeling)</li>
            <li>Passport (Authentication)</li>
            <li>Bcryptjs (Password hashing)</li>
        </ul>
    </div>
</dir>