<div class="jumbotron mt-4" style="text-align: center">
    <h1 class="display-4">Welcome to Notes App!</h1>
    <p class="lead">Web App to save your notes</p>
    <hr class="my-4">
    <a href="https://miltvalenz-notesapp.glitch.me//users/signin" class="btn btn-primary btn-lg">Log In</a>
</div>