<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Node.js and MongoDB</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, sint aperiam! Nemo, officia odit perspiciatis, quibusdam eveniet fuga facilis sapiente quae incidunt fugit repellendus eligendi est? Vel maxime ut sunt.</p>
    <a href="http://xPage.com" class="btn btn-primary btn-lg">xPage</a>
</div>